[run]
omit =
        *__init__*
        */profiler/*
        */tests/*
        */remap_child_resources_constants.py

[report]
omit =
        *__init__*
        */profiler/*
        */tests/*
        */remap_child_resources_constants.py
        */setup_script.py
        */teardown_script.py
