# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
.idea/.name
.idea/cloudshell-orch-sandbox.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries/
qpm.ini

# zip files
*.zip
SandboxOrchestration/environment_scripts/env_setup/data.json
SandboxOrchestrationPackage/Topology Scripts/Default Sandbox Setup.zip
SandboxOrchestrationPackage/Topology Scripts/Default Sandbox Teardown.zip
SandboxOrchestrationPackage/Topology Scripts/Default Sandbox Teardown.zip
sandbox_scripts/environment/.idea/.name
sandbox_scripts/environment/.idea/encodings.xml
sandbox_scripts/environment/.idea/misc.xml
sandbox_scripts/environment/.idea/workspace.xml
*.zip
sandbox_scripts/environment/.idea/environment.iml
SandboxOrchestrationPackage/Topology Scripts/Default Sandbox Setup.zip
sandbox_scripts/environment/.idea/modules.xml
SandboxOrchestrationPackage/Topology Scripts/Default Sandbox Teardown.zip
